* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

header {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  background-color: #f2f2f2;
}
body {
  display: flex;
  flex-direction: column;
}
header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.logo p {
  font-family: "Sarpanch", sans-serif;
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  color: #f2a341;
  background-color: #313131;
  padding: 0.4rem;
  border: 0.6rem solid #3fcbeed0;
  border-radius: 2rem;
}
nav.navbar {
  margin: auto;
  text-align: center;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d7d9;
}
nav.navbar ul li a {
  display: block;
  color: rgb(44, 42, 42);
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: 1.2rem;
}
nav.navbar ul.mainlist li {
  position: relative;
  display: inline-block;
  padding: 0.4rem 4rem;
  z-index: 1;

  background-color: #d7d7d9;
}

nav.navbar ul.mainlist li ul.childlist {
  background-color: #d7d7d9;
  display: flex;
  z-index: 1;

  flex-direction: column;
  position: absolute;
  left: 0.026rem;
  visibility: hidden;
  background-color: #d7d7d9;
}
nav.navbar ul.mainlist li:hover {
  visibility: visible;
  background-color: #f29f05;
  text-decoration: underline;
  transition: 1.3s;
}
nav.navbar ul.mainlist li:hover ul {
  visibility: visible;
  transition: 2s;
}

.container {
  width: 80%;
  margin: auto;
}

.main {
  height: 140vh;
  background-color: #f2f2f2;
  float: right;
  width: 80%;
  text-indent: 30px;
  font-size: 1.2rem;
  text-align: justify;
  text-align: center;
  padding-top: 5rem;
}
.main-image {
  margin-top: 10rem;
}
.main-image img {
  padding-top: 1rem;
  width: 80%;
  height: 400px;
  object-fit: cover;
}
.main-image h2 {
  text-decoration: underline;
  color: #313131;
  margin-top: 3rem;
}
.main p {
  padding: 2rem;
}

.items {
  width: 80%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  margin-left: 5rem;
}
.items .item {
  text-align: center;
  margin: auto;
}
.items .item img {
  display: block;
  padding: 1rem;
}
.items .item a {
  display: block;
  color: #313131;
}
.items a:hover {
  text-decoration: underline;
  color: #f29f05;
  transition: 1.2s;
}
.items a:hover::after {
  text-decoration: underline;
  color: #f29f05;
  transition: 1.5s;
}
.aside div.div-aside {
  padding-top: 5rem;
  color: #333332;
  position: relative;
  font-size: 0.8rem;
  border-left: 0.8rem solid #d7d7d9;
  border-right: 0.8rem solid #d7d7d9;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  float: left;
  width: 20%;
  height: 140vh;
  margin: auto;
  background-color: #fff;
  text-align: center;
}
.image {
  margin: auto;
}
.image img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
}
.clearfix {
  clear: both;
}
footer {
  display: fixed;
  bottom: 0%;

  margin: auto;
  width: 80%;
  height: 10rem;

  background-color: #313131;
}
.footer-liste {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  margin: auto;
}
.footer ul li a {
  color: #f2f2f2;
  padding: 0.6rem;
}
.foot {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat {
  position: fixed;
  right: 0;
  bottom: 3rem;
}

.chat img {
  width: 13rem;
  filter: drop-shadow(3px 4px 4px #313131);
}
